
.hipe::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(54, 115, 253, 0.2) 20%, transparent 70%),
              radial-gradient(circle, rgba(255, 0, 0, 0.1) 15%, transparent 75%),
              radial-gradient(circle, rgba(0, 255, 128, 0.15) 25%, transparent 80%);
  background-size: 30% 30%;
  z-index: -1;
  animation: backgroundMove 12s infinite linear;
}

/* Keyframes for smooth background animation */
@keyframes backgroundMove {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
.cour {
  display: inline-block;
  border: 1px solid #ccc;
  width: 300px;
  margin-left: 15px;
margin-bottom: 15px;
  border-radius: 5px;
  /* padding-left: 20px; */
  text-align: left;
}

.cour img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.cour:hover {
    transform: scale(1.1);
    transition: 1s;
}

.cour h2 {
  font-size: 20px;
  padding-left: 5px;
}

.cour p {
  font-size: 12px;
  padding-right: 220px;
  padding-left: 2px;
}

.rating {
  margin-right: 35px;
} 

.hipe h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 450px;
}