.hipe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  margin-top: 50px;
}

.hipe::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(54, 115, 253, 0.2) 20%, transparent 70%),
              radial-gradient(circle, rgba(255, 0, 0, 0.1) 15%, transparent 75%),
              radial-gradient(circle, rgba(0, 255, 128, 0.15) 25%, transparent 80%);
  background-size: 30% 30%;
  z-index: -1;
  animation: backgroundMove 12s infinite linear;
}

/* Keyframes for smooth background animation */
@keyframes backgroundMove {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.hipe h1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.seachP {
  display: flex;
  justify-content: center;
}

.searchBar {
  padding: 15px;
  width: 50%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.loader {
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
}

/* New container for displaying courses in a grid */
.coursesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  /* Automatically adjust columns */
  gap: 20px; /* Add space between cards */
  padding: 20px 0;
}

/* Styling for individual course cards */
.cour {
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.cour:hover {
  transform: scale(1.05); /* Slightly scale up the card on hover */
}

.cour img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.cour h2 {
  font-size: 18px;
  padding-left: 5px;
  margin-top: 10px;
}

.cour p {
  font-size: 14px;
  padding-left: 5px;
}

.rating {
  margin-top: 10px;
}
