.linkx {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: smaller;
}


.btn {
    background-color: rgb(5, 134, 254);
    font-size: 13px;
    color: var(--text);
    padding: 10px;
    border-radius: 50px;
    border: none;
}

.btn:hover {
color: var(--text);
    background-color: rgb(56, 138, 189);

}
