/* Wrap content to align with hero section */
.contentWrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

}

  /* Navbar container */
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #01011ef9;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  

  
  /* Search bar */
  .searchContainer {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 500px;
    width: 100%;
  }
  
  .searchInput {
    width: 100%;
    padding: 0.7rem 1.5rem;
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
  .searchInput:focus {
    outline: none;
    border-color: #3498db;
  }
  
  .searchButton {
    position: absolute;
    right: 0;
    padding: 0.7rem 1.5rem;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .searchButton:hover {
    background-color: #2980b9;
  }
  
  /* Navbar Links */
  .navLinks {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .linksContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .navLinks a {
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 15.5px;
    transition: color 0.3s ease;
  }
  
  .navLinks a:hover {
    color: #ff6f61;
  }
  
  /* Dark Mode Toggle */
  .darkModeToggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .darkModeToggle:hover {
    color: #ff6f61;
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .navbarContainer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .searchContainer {
      margin-bottom: 1rem;
      width: 100%;
    }
  
    .navLinks {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .linksContainer {
      margin-top: 1rem;
      width: 100%;
    }
  }
  

  
/* ========================================================= */
.courseContainer {
  position: fixed;
  top: 60px;
  z-index: 10;
  width: 100%;
  padding: 0 3%;
  background-color: #1a2530f9;
  overflow: hidden; /* Hide overflow */
}

.courseNav {
  overflow-x: auto; /* Allows horizontal scrolling */
  white-space: nowrap;
  scroll-behavior: smooth; /* Smooth scroll behavior */
  padding: 20px 0;
  margin: 0;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.courseNav::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Edge, and Safari */
}

.courseNav ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.courseNav ul li {
  margin: 0 10px;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.courseNav li:hover {
  color: #4dbafe;
}


/* ========================================================= */