.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #fff; */
}

.inputContainer input {
    background-color: rgb(252, 229, 200);
    width: 250px;
    height: 40px;
    margin: 7px;
    border-radius: 10px;
    border: none;
    padding-left: 7px;
}

.Btn {
    width: 250px;
    height: 40px;
    margin: 7px;
    border-radius: 10px;
    border: none;
    color: #000;
    background-color: rgb(252, 229, 200);

}

.btn {
    width: 250px;
    height: 40px;
    margin: 7px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: rgba(248, 9, 9, 0.858);
}

.btn:hover {
    background-color: rgb(206, 26, 47);

}

.container h1 {
    display: flex;
    margin-bottom: 20px;
    font-size: 35px;
    margin-right: 50px;
}

.link {
  color: rgb(140, 0, 255);
  text-decoration: none;
  
}